:root {
  font-size: 3vmin;
}

button {
  font-size: inherit;
  color: #000000;
}

button.selected {
  background-color: #000000;
  color: #ffffff;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.row {
  display: flex;
  gap: 2vmin;
}

.unsolved {
  width: 20vmin;
  height: 20vmin;
}
